
  <h1>Sign Up Confirmation</h1>
    <p>Are you sure these values are correct?</p>
    <p>
      Email: <%= @user.email %>
    </p>
    <p>
      Name: <%= @user.name %>
    </p>

  <div class='row'>
    <div class="col-md-4">
        <%= link_to "Yes", {controller: "users", action: "create", params: params}, method: :post, class: 'btn btn-success' %>
        <%= link_to "No", new_user_path, class: 'btn btn-success' %>
    </div>
  </div>

